<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Full Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, "Email Address" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone, "Phone Number" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :reason, "Why would you want to join this course?" %>
    <%= form.text_area :reason %>
  </div>

  <div class="field">
    <%= form.label :session, "Which classes would you like to join?" %>
    <%= form.select :session, ["Online Session", "In-person Session"] %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
