<div class="row">
  <div class="col-lg-6 mx-auto">
    <%= form_with(model: user, local: true) do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field mb-3">
        <%= form.label :name, "Full Name:" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= form.label :email, "Email Address:" %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= form.label :phone, "Phone Number:" %>
        <%= form.text_field :phone, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= form.label :reason, "Why would you want to join this course?" %>
        <%= form.text_area :reason, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= form.label :session, "Which classes would you like to join?" %>
        <%= form.select :session, ["Online Session", "In-person Session"], {}, class: "custom-select" %>
      </div>

      <div class="actions">
        <%= form.submit "Submit", class: "btn bg-purple text-white rounded-0 shadow btn-block" %>
      </div>
    <% end %>
  </div>
</div>

