<p id="notice"><%= notice %></p>

<h1 class="text-center my-5 font-weight-bold">Students</h1>

<table class="table mb-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Session</th>
      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.session %></td>
        <td class="text-right"><%= link_to 'About Student', user, class: "btn text-white bg-purple mr-3" %> <%= link_to 'Delete Student', user, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
